# CMake артефакты
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
# Если собираешь не в /build, а в корне (что не очень хорошо, но бывает)
*.spv
# Сборочные файлы
build/
build_release/
external/
build-asan/
*.o
*.a
*.so
*.exe
*.out

# Временные файлы
*.tmp
*.log

compile_commands.json

# IDE и редакторы
.vscode/
.idea/
.clangd/
.zed/
.cache/
*.swp
*.swo

# Вендорные зависимости
vendored/

# Операционная система
.DS_Store
Thumbs.db
