CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

build/
build-asan/
cmake-build-debug/
cmake-build-release/
game/artifacts/
game/.cache/

*.spv

*.o
*.a
*.so
*.exe
*.out

*.tmp
*.log

compile_commands.json

.vscode/
.idea/
.clangd/
.zed/
.cache/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db
modules/dasImgui
